<body>

    <h1 style="color: white;" style="position: fixed;">Registration Numbers</h1>
    <div class="button-container">

        <div class="sideByside">
            <form action="/" method="POST" class="input">
                <input type="text" name="number" spellcheck="true" maxlength="10" placeholder="Enter registration"
                    required>
                <button type="submit" class="addingButton" ><i class='bx bxs-file-plus'></i></button>
            </form>
        </div>

        <div class="sideByside1">
            <form action="/filter" method="POST" class="filter">
                <select name="city" id="filterCity" required>
                    <option value=""disabled selected style="color: grey;">Select a city</option>
                    <option value="">All</option>
                    <option value="CA">Cape Town</option>
                    <option value="CY">Bellville</option>
                    <option value="ND">Durban</option>
                    <option value="CJ">Paarl</option>
                </select>
                <button type="submit" class="DisplayBtn"><i class='bx bx-filter-alt' ></i></button>
            </form>
            <div>

                <form action="/clear" method="POST">
                    <button type="submit" class="clear"><i class='bx bxs-trash' ></i></button>
                </form>
            </div>

        </div>


        <div class="displayRegistration">
            <ul>
                {{#each numberPlate}}
                <li class="plates">{{this.registration_number}}</li>
                {{/each}}

                {{#each filteredPlates}}
                <li class="plates">{{this.registration_number}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="flashMessages">
            {{#if messages.alrt}}
            <div class="alert">
                <p class="messages" style="color: green;">{{messages.alrt}}</p>
            </div>
            {{/if}}

            {{#if messages.valid}}
            <div class="alert invalid">
                <p class="messages" style="color: green;">{{messages.valid}}</p>
            </div>
            {{/if}}

            {{#if messages.notValid}}
            <div class="alert  invalid">
                <p class="messages" style="color: red;">{{messages.notValid}}</p>
            </div>
            {{/if}}

            {{#if messages.alreadyExists}}
            <div class="alert  invalid">
                <p class="messages" style="color: red;">{{messages.alreadyExists}}</p>
            </div>
            {{/if}}
        </div>
    </div>
</body>

</html>